# Configuration file for Redis ACL 

# Disable the default admin user for security reasons as they have full admin priviliges and no password
user default off

# Creates a user which only has read/write priviliges for the database 
user default off
user app on >yourPassword \
  ~app:* \
  +@read \
  +@write \
  -@admin \
  -@dangerous